{% extends 'base.html.twig' %}

{% block title %}Accès interdit - Bottin{% endblock %}

{% block body -%}

    <div class="card">
        <div class="card-header">
            <h3>Accès interdit</h3>
        </div>
        <div class="card-body">
            <br/><br/>
            <a href="{{ path('rag_index') }}">Retour à l'accueil</a>
        </div>
    </div>

{% endblock %}
